:root {
   --primary-color: #1b262c;
   --swiper-navigation-size: 25px !important;
}

/* width */
::-webkit-scrollbar {
   width: 7px;
   
}

/* Track */
::-webkit-scrollbar-track {
   background: #fff;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--primary-color);
   border-radius:4px;
   
   
}

.swiper-pagination-bullet-active {
   background: var(--primary-color) !important;
}
.swiper-button-next,
.swiper-button-prev {
   color: var(--primary-color) !important;
}
